.hero {
    background: url(../../assets/img/security-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: clamp(700px, 70vh, 1000px);
}

.hero-copy {
    padding: 0px 100px;
    text-align: center;
}

.hero-copy h1 {
    margin-bottom: 12px;
    line-height: 1.1;
    font-size: 30px;
}

.hero-copy p {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.hero-copy span {
    font-weight: bold;
    color: #6E282D;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 999px;
    background: #6E282D;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .hero-inner {
        flex-direction: column;
        align-items: stretch;
    }

    .hero-media {
        height: 320px;
    }
}

.content {
    // background: #efe9f4;
    padding: 100px 0;
}