<section class="hero">
    <div class="container">
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="container hero-inner">
            <div class="hero-copy">
                <h1>Ihr Partner für Sicherheit und Schutz.</h1>
                <p>Willkommen bei [Firmenname] – 
                    Wir stehen für höchste Professionalität, Zuverlässigkeit und Diskretion in allen Sicherheitsfragen.
                    Unser erfahrenes Team sorgt mit modernster Technik und individuellem Sicherheitskonzept dafür, dass
                    Sie, Ihr Eigentum
                    und Ihr Unternehmen jederzeit optimal geschützt sind.
                    Ob Objektschutz, Veranstaltungssicherheit oder Personenschutz – wir bieten maßgeschneiderte
                    Lösungen, auf die Sie sich
                    verlassen können.
                    Vertrauen Sie auf Kompetenz, Erfahrung und Engagement – [Firmenname] steht für Sicherheit mit
                    System.</p>
                <!-- <a class="btn" routerLink="/kontakt">Jetzt anrufen</a> -->
            </div>
        </div>
    </div>
</section>