<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-image-text">
                <div class="footer-info">
                    <img class="footer-icon" src="assets/img/location.png" alt="location">
                    <p>xxxxxxxxxxxxx<br> xxxxxxxxxxxxx, <br>xxxxxxx Hamburg</p>
                </div>
                <div class="footer-info">
                    <!-- <h2>Informationen</h2><br> -->
                </div>
            </div>
            <div class="footer-image-text">
                <div class="footer-info">
                    <img class="footer-icon" src="assets/img/phone.png" alt="phone">
                    <p>xxxxxxxxx</p>
                </div>
                <div class="footer-info">
                    <p>Impressum</p>
                </div>
            </div>
            <div class="footer-image-text">
                <div class="footer-info">
                    <img class="footer-icon" src="assets/img/mail.png" alt="mail">
                    <p>info&#64;xxxxxxxxxxxxxxx.de</p>
                </div>
                <div class="footer-info">
                    <p>Datenschutz</p>
                </div>
            </div>
            <div class="footer-image-text">
                <div class="footer-info">
                    <img class="footer-icon" src="assets/img/instagram.png" alt="instagram">
                    
                </div>
            </div>
        </div>
    </div>
</footer>