footer {
    background: var(--mainColor);
    padding-block: 40px;

    p,
    a {
        font-size: 1.1rem;
        padding-left: 10px;
    }
}

.footer-content {
    padding-top: 30px;

    @media (max-width: 800px) {
        .footer-content {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }
}

.footer-image-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;

    .footer-info {
        display: flex;
        cursor: pointer;

        h2 {
            color: var(--secondaryColor);
        }
    }

    .footer-icon {
        width: 20px;
        height: 20px;
    }
}

.removeI {
    text-decoration: none;
    color: black;
}