<header class="site-header">
    <div class="container header-inner">
        <a class="logo" href="/">
            <img src="assets/img/BN3.png" alt="Logo" />
        </a>

        <nav class="nav">
            <a routerLink="/startseite" class="active">Startseite</a>
            <a routerLink="/dienstleistungen" routerLinkActive="active">Dienstleistungen</a>
            <a routerLink="/referenzen" routerLinkActive="active">Referenzen</a>
            <a routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
        </nav>
    </div>
</header>