:host {
    display: block;
    width: 100%;
}

.site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.header-inner {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 150px;
    display: block;
}

.nav {
    display: flex;
    gap: 24px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #222;
        font-size: 20px;
        font-weight: 600;
        padding: 8px 4px;

        &.active,
        &:hover {
            color: #3d638f;
        }
    }
}