@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/lora-v37-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/lora-v37-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/lora-v37-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 500;
    src: url('./assets/fonts/lora-v37-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/lora-v37-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 600;
    src: url('./assets/fonts/lora-v37-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/lora-v37-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/lora-v37-latin-700italic.woff2') format('woff2');
}

:root {
    --mainColor: #FFE7D3;
    --secondaryColor: #6E282D;
    --thridColor: #9e4147;
    --container-max: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora';
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: var(--container-max);
    margin-inline: auto;
    padding-inline: 24px;
}